.spotlight {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotlight.active {
    opacity: 1;
    pointer-events: auto;
    transition: .5s;
}

.spotlight-bar {
    width: 550px;
    position: relative;
    background-color: #fff;
    border-radius: 7px;
    padding: 5px;
}

.spotlight-bar input {
    width: 100%;
    padding: 10px;
}

.spotlight-suggestions {
    position: absolute;
    top: 100%;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: -5px 0 0 0;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    & > li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    & > a {
        display: block;
        text-decoration: none;
        padding: 10px 15px;
        color: inherit;
    }

    & > a:hover {
        background-color: rgba(0,0,0,0.1);
    }

    & > li.active a {
        background-color: rgba(0,0,0,0.1);
    }

    & > mark {

    }
}
